@tailwind base;
@tailwind components;
@tailwind utilities;

.assessment-description-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
